{% extends 'index_login.html'%}
{% block image %} /images/login.jpg {% endblock %}
{% block content %}
<form action="" method="POST" accept-charset="utf-8">
  <span class="login100-form-title p-b-59">
    Capstone Project Portal - Mentors
  </span>
  <span style="font-size: 1.5em;color: #257640;" class="login100-form-title p-b-30">
    Login
  </span>

  <div class="wrap-input100">
    <span class="label-input100">Email</span>
    <input class="input100" type="text" name="email" placeholder="email@thapar.edu">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100">
    <span class="label-input100"> Password </span>
    <input class="input100" type="password" name="password" placeholder="Password">
    <span class="focus-input100"></span>
  </div>

  <!--<div class="g-recaptcha" data-sitekey="{{SITE_KEY}}"></div>-->
  <br>

  <a href="{{ url_for('auth.reset_link') }}" class="fs-17">
    Forgot Password? Click here
  </a>
  <br/>
  
  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn" type="submit">
        Log In
      </button>
    </div>
  </div>
</form>

<br>

<!-- <div class="container-login100-form-btn">
  <div class="wrap-login100-form-btn">
    <div class="login100-form-bgbtn"></div>
    <a href="">
      <button class="login100-form-btn" type="submit">
          Sign Up here
      </button>
    </a>
  </div>
</div> -->
{% endblock %}
