{% extends 'index_login.html'%}
{% block content %}

  {% if verified %}
    <form class="login100-form" action="" method="POST" accept-charset="utf-8">
      <span class="login100-form-title p-b-59">
        Reset Password
      </span>

      <div class="wrap-input100">
        <span class="label-input100"> Password </span>
        <input class="input100" type="password" name="password" placeholder="Password" required>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100">
        <span class="label-input100"> Confirm Password </span>
        <input class="input100" type="password" name="confpassword" placeholder="Confirm Password" required>
        <span class="focus-input100"></span>
      </div>
    <div class="g-recaptcha" data-sitekey="{{SITE_KEY}}"></div>
      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn" type="submit">
            Reset Password
          </button>
        </div>
      </div>

    </form>
  {% else %}
    <h1> Inccorect Link </h1>

    <a href="{{ url_for('auth.reset_link') }}" class="fs-24">
      To generate a new link, Click Here !!
    </a>
    <br/>

  {% endif %}
{% endblock %}
